.loader ,.stop-loader{
    margin: 0;
    padding: 0;
    border: 2px solid #f3f3f3; 
    border-top: 2px solid #3498db00; 
    /* border-bottom: 3px solid #3498db00;  */
    border-radius: 50%;
    width: 20px;
    height: 14px;
    margin-top: 5px;
    margin-left: 20px;
    animation: spin 1s linear infinite;
  }
  .stop-loader{
    animation: none;
    border: 0;
  }
   @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); } 
  } 